# Operators

Operators are special symbols in Python that carry out arithmetic or logical computation. The value that the operator operates on is called the operand.

# Operator Types

1. Arithmetic operators
    
2. Comparison (Relational) operators

3. Logical (Boolean) operators

4. Bitwise operators

5. Assignment operators

6. Special operators

# Arithmetic Operators

Arithmetic operators are used to perform mathematical operations like addition, subtraction, multiplication etc.

    + , -, *, /, %, //, **  are arithmetic operators

Example:

In [1]:
x, y = 10, 20

#addition
print(x + y)
#subtraction(-)
print(x - y)
#multiplication(*)
print(x * y)
#division(/)
print(x / y)
#modulo division (%)
print(x % y)
#Floor Division (//)
print(x // y)
#Exponent (**)
print(x ** y)

30
-10
200
0.5
10
0
100000000000000000000

# Relational (Comparision) Operators

Comparison operators are used to compare values. It either returns True or False according to the condition.

    >, <, ==, !=, >=, <= are comparision operators

In [6]:
a, b = 10, 20         

#check a is less than b
a < b

True

In [5]:
#check a is greater than b
a > b

False

In [ ]:

#check a is equal to b
a > b

In [7]:

#check a is not equal to b (!=)
a!=b

True

In [8]:
# checking if a and b are equal
a==b

False

In [9]:

#check a greater than or equal to b
a>=b

False

In [10]:

#check a less than or equal to b
a<=b

True

In [11]:
10<77

True

In [12]:
a<6

False

In [15]:
b==10+10

True

In [16]:
a+b<100

True

In [17]:
a*3>=b+10

True

In [ ]:
#create atlest 5 statments involving relational operators

# Logical Operators

Logical operators are  **and, or, not** operators.

In [18]:
a, b = True, False

#print a and b
#     T and F  
print(a and b)

#     T or F  
print(a or b)
#     not F
print(not b)

False
True
True

In [23]:
x=10
y=20
#x,y=10,20
x,y

(10, 20)

In [24]:
x==10 and y==20
# T   and   T

True

In [26]:
x+20>=y+10 or 30+y<50
#30>=30       50<50
#   T      or F

True

In [ ]:
#create atlest 5 statments involving relational & logical operators

In [7]:
per=66
(per>=60) and (per<=75)
    #a     and    b

True

In [4]:
per=66

In [5]:
per>=60

True

In [6]:
per<=75

True

# Bitwise operators

Bitwise operators act on operands as if they were string of binary digits. It operates bit by bit

    &,  |,  ~,  ^,  >>,  << are Bitwise operators

In [8]:
a, b = 10, 4

#Bitwise AND
print(a & b)

#Bitwise OR


#Bitwise NOT


#Bitwise XOR


#Bitwise rightshift


#Bitwise Leftshift

0

# Assignment operators

Assignment operators are used in Python to assign values to variables.

a = 5 is a simple assignment operator that assigns the value 5 on the right to the variable a on the left.

    =,  +=,  -=,  *=,  /=,  %=,  //=,  **=, &=,  |=,  ^=,  >>=,  <<= are Assignment operators

In [29]:
a=10
print(a)
#a=a+1
a+=1
print(a)

10
11

In [30]:
print(a)
#a=a*2
a*=2
print(a)

11
22

In [0]:
a = 10

a += 10         #add AND
print(a)

#subtract AND (-=)

#Multiply AND (*=)

#Divide AND (/=)

#Modulus AND (%=)

#Floor Division (//=)

#Exponent AND (**=)

20

# Special Operators

# Identity Operators

**is and is not** are the identity operators in Python. 

They are used to check if two values (or variables) are located on the same part of the memory.

In [32]:
a = 5
b = 5
a+=3
print(a is b)    #5 is object created once both a and b points to same object

#check is not

False

In [33]:
l1 = [1, 2, 3]
l2 = [1, 2, 3]
print(l1 is l2)

l3=l1

print(l1 is l3)

False
True

In [8]:
s1 = "Satish"
s2 = "Satish"
print(s1 is not s2)

False

# MemberShip Operators

**in and not in** are the membership operators in Python. 
    
They are used to test whether a value or variable is found in a sequence (string, list, tuple, set and   dictionary).

In [35]:
lst = [1, 2, 3, 4]
print(11 not in lst)       #check 1 is present in a given list or not

#check 5 is present in a given list

True

In [36]:
d = {1: "a", 2: "b"}
print(1 in d)
print("a" in d)

True
False